.text-center{
  text-align: center;
}

.bg-red{
  background: rgb(14, 215, 81);
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}